@import url('https://fonts.googleapis.com/css?family=Lato|Muli|Oxygen|Raleway|Roboto');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');
@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

.nav_options{
  text-decoration: inherit;
  font-family: "Oxygen";
  font-size: 20px;
  margin: 0px 10px;
  color: rgba(255,255,255,.9);
  margin-top: 34px;
  display: inline-block;
}

.nav_options::after{
  content: '';
  display: block;
  width: 100%;
  /*with: 0;*/
  height: 4px;
  background: rgba(255,15,43,1);
  transition: /*width*/all .4s ease-in-out 0s;
  visibility: hidden;
  transform: scaleX(0);
}

.nav_options:hover::after{
  /*with: 100%; esto es para izq a derecha*/
  transition: /*width*/all .4s ease-in-out 0s;
  visibility: visible;
  transform: scaleX(1);
}

#active_nav{
  color: rgba(255,255,255,1);
  text-shadow: 1px 1px 1px rgba(255,255,255,.1);
}

#active_nav::after{
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  background: rgba(255,15,43,1);
  visibility: visible;
  color: rgba(255,255,255,1);
  text-shadow: 1px 1px 1px rgba(255,255,255,.1);
  transform: scaleX(1);
}

.nav_options:hover{
  text-decoration: none;
  text-shadow: 1px 1px 1px rgba(255,255,255,.1);
  color: rgba(255,255,255,1);
}

#landing_body_background{
  background-image: url("/images/indexImage.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.body_background{
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#nosotros_background{
background-image: url("../images/nuestraVinicola.jpg");
background-position: center;
}

#vinos_background{
background-image: url("../images/nuestrosVinos.jpg");
background-position: center;
}

#puntos_venta_background{
background-image: url("../images/puntosVenta.jpg");
background-position: center;
}

#visitanos_background{
background-image: url("../images/visitanos.jpg");
background-position: center;
}

#navbar{
  background-color: rgba(0,0,0,.4);
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#burger_button_container{
  display: none;
}

#mini_navbar{
  color: white;
  text-align: center;
}

.toggler_btn{
  width: 45px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
  margin: 15px 15px 0px 15px;
  padding: 0px;
}

.toggler_btn:focus{
  outline-color: transparent;
  outline-style: none;
}

#hamburger_icon{
  width: 45px;
  fill: white;
}

#hamburger_icon:hover{
  fill: rgba(255,15,43,1);
}

.option_mini_navbar{
  border-bottom: 1px solid rgba(255,255,255,.3);
  font-size: 18px;
}

#active{
  color: rgba(255,15,43,1);
}

#nav_options_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  margin: 0px auto;
}

#center_logo{
  width: 200px;
  margin: 7px 0px;
}

.mid_image_text_container{
  font-family: "Raleway";
  font-size: 40px;
  font-weight: normal /*normal si no se nota*/ ;
  color: white;
  width: 1000px;
  text-align: center;
  text-shadow: 0 0 20px rgba(0,0,0,0.9), 0 0 20px rgba(0,0,0,0.9), 0 0 10px rgba(0,0,0,0.9);
}

#primary_mid_text{
  text-shadow: 0px 0px 30px #000000,
  0px 0px 17px rgba(0,0,0,1),
  0px 0px 17px rgba(0,0,0,0.85),
  0px 0px 17px rgba(0,0,0,0.85);
}

#mid_image_text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 340px;
  text-shadow: 2px 2px 30px rgba(0,0,0,1)
}

#sec_mid_image_text{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 230px;
}

#main_body_container{
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#main_body_title{
  font-family: "Raleway";
  font-size: 40px;
  color: black;
  text-align: center;
  margin: 50px auto 40px auto;
}

#main_body{
  width: 1000px;
  margin: 0px auto 40px auto;
  text-align: justify;
}

.our_story_row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}

.our_story_txt{
  width: 330px;
  margin: auto 0px;
  font-family: "Raleway";
  font-size: 16.2px;
}

.our_story_img{
  width: 630px;
  height: 350px;
}

#our_story_img_1{
  background-image: url("../images/pacasPaja.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#our_story_img_2{
  background-image: url("../images/prensadoVino2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#our_story_img_3{
  background-image: url("../images/etiquetaRetorno.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#no_center{
  margin: inherit;
  margin-top: 4px;
}

#all_bottle_container{
  width: 1000px;
  margin: 5px auto 30px auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

#breakpoint_all_bottle_container{
  display: none;
}

.winetype{
  display: flex;
  flex-direction: column;
}

.winetype_bottle_container{
  display: flex;
  flex-direction: row;
}

.bottle_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.bottle{
  width: 65px;
  height: 140px;
}

.wine_name{
  font-family: "Raleway";
  font-size: 18px;
  color: black;
  text-align: center;
  width: 80;
  margin: 10px auto;
  line-height: 1.2;
}

.winetype_name{
  font-family: "Raleway";
  font-size: 16px;
  color: black;
  margin: 0px auto 15px auto;
  padding: 0px 15px;
  width: 100%;
}

.winetype_name::after{
  content: '';
  display: block;
  width: 100%;
  /*with: 0;*/
  height: 1px;
  background: rgba(255,15,43,1);
}

#main_wine_container{
  width: 800px;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
}

.main_bottle_container{
  height: 600px;
}

#text_wine_container{
  width: 450px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#main_wine_name{
  font-family: 'Poiret One', cursive;
  font-size: 38px;
  font-weight: bold;
  margin-top: -10px;
}

.wine_header{
  font-family: 'Work Sans', sans-serif;
  font-size: 24px;
  font-weight: 200;
}

.wine_header::after{
  content: '';
  display: block;
  width: 38%;
  /*with: 0;*/
  height: 1px;
  background: rgba(43,43,43,.9);
  margin-top: -3px;
}

.wine_txt{
  font-family: 'Work Sans', sans-serif;
  font-size: 17px;
  font-weight: 200;
  margin: 5px 0px;
  line-height: 1.2;
  text-align: justify;
}

.bold{
  font-weight: bold;
}

b{
  font-weight: bold;
}

.main_sellpoint_container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Raleway";
  color:black;
  text-align: center;
}

#all_sellpoint_container{
  margin-top: -30px;
}

.group_sellpoint_text{
  text-align: center;
  font-size: 22px;
  margin: 30px auto 10px auto;
  width: 90%;
}

.group_sellpoint_text::after{
  content: '';
  display: block;
  width: 100%;
  /*with: 0;*/
  height: 1px;
  background: rgba(255,15,43,1);
}

.group_sellpoint_container{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: center;
}

.sellpoint_container{
  height: 142px;
  width: 125px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sellpoint_logo{
  width: 115px;
  height: 115px;
}

.sellpoint_name{
  font-size: 18px;
  line-height: 1;
}

.visit_container{
  text-align: center;
  font-size: 18px;
  font-family: "Raleway";
  margin-bottom: 30px;
  margin-top: -10px;
}

.visit_headline{
  font-size: 24px;
}

#visit_bottom{
  margin-bottom: 0px;
}

#location_icon_container{
  display: none;
}

#map_container_main{
  width: 1000px;
  height: 500px;
  margin: 0px auto 30px auto;
}

#map_container_link{
  width: 1000px;
  height: 500px;
  margin: 0px auto 30px auto;
  display: none;
}

#footer{
  height: 200px;
  background-color: rgba(40,40,41,1);
  border-top: 3px solid rgba(255,255,255,1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.9);
  font-size: 14px;
}

#footer_options_container{
  width: 1000px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_option{
  height: 160px;
  text-align: center;
  width: 250px;
}

#left_option{
  border-right: 1px solid rgba(255,15,43,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#center_option{
  border-right: 1px solid rgba(255,15,43,1);
  border-left: 1px solid rgba(255,15,43,1);
}

#right_option{
  border-left: 1px solid rgba(255,15,43,1);
}

.footer_headline{
  text-align: center;
  height: 30px;
  margin-top: -3px;
  font-size: 23px;
  color:rgba(255,255,255,.8);
  font-weight: bold;
}

.footer_headline:hover{
  color:rgba(255,255,255,1);
}

.info_cities{
  font-size: 18px;
  margin-top: 5px;
}

#info_visit{
  margin-top: 5px;
  font-size: 17px;
}

.info_address{
  font-size: 13px;
  width: 200px;
  margin: 10px auto 0px auto;
}

#adress_main{
  display: inline;
}

#adress_link{
  display: none;
}

#info_adress_main{
  display: flex;
}

#info_adress_link{
  display: none;
}

#social_media_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px auto 0px auto;
  width: 180px;
}

.social_media{
  width: 42px;
  height: 42px;
  color: black;
  text-align: center;
  border-radius: 7px;
  border: 1px solid rgba(255,255,255,0);
}

.social_media:hover{
  width: 42px;
  height: 42px;
  background-color: rgba(255,255,255,.6);
  border: 1px solid rgba(255,255,255,.9);
}

#logo_footer{
  width: 150px;
}

@media only screen and (max-height: 1440px) {
  #landing_body_background{
    height: 1240px;
  }

  .body_background{
    height: 700px;
  }

  .mid_image_text_container{
    font-size: 45px;
    width: 1300px;
  }

  #mid_image_text{
    margin-bottom: 550px;
  }

  #sec_mid_image_text{
    margin-bottom: 270px;
  }

  .bottle_container{
    margin: 0px 5px;
  }

  .bottle{
    width: 85px;
    height: 177px;
  }

  .wine_name{
    font-size: 18px;
    margin: 15px auto;
  }

  .winetype_name{
    font-size: 16px;
    margin: 0px auto 25px auto;
  }

  #all_bottle_container{
    margin: 5px auto 20px auto;
  }

  #visit_top{
    margin-top:-10px;
  }
}

@media only screen and (max-height: 1366px) {
  #landing_body_background{
    height: 1166px;
  }

  .mid_image_text_container{
    font-size: 40px;
    width: 1000px;
  }

  #mid_image_text{
    margin-bottom: 340px;
  }
}

@media only screen and (max-height: 1080px) {
  #landing_body_background{
    height: 880px;
  }
}

@media only screen and (max-height: 1000px) {
  #landing_body_background{
    height: 800px;
  }
}

@media only screen and (max-width: 1440px){
  .body_background{
    height: 640px;
  }
  #main_body_title{
    margin: 40px auto 40px auto;
  }
}

@media only screen and (max-width: 1000px){
  #nav_options_container{
      width: 800px;
  }

  .mid_image_text_container{
    width: 800px;
  }

  #main_body{
    width: 900px;
  }

  .our_story_txt{
    width: 285px;
    font-size: 15px;
  }

  .our_story_img{
    width: 585px;
    height: 350px;
  }

  #all_bottle_container{
    width: 900px;
  }

  #map_container_main{
    width: 900px;
  }

  #footer{
    font-size: 13px;
  }

  .footer_option{
    width: 225px;
  }

  #footer_options_container{
    width: 900px;
  }

  .footer_headline{
    font-size: 21px;
    margin-top: 0px;
  }

  .info_cities{
    font-size: 17px;
  }

  .info_address{
    width: 190px;
    font-size: 13px;
    margin: 10px auto 0px auto;
  }

  #info_visit{
    font-size: 16px;
  }

  .info_address{
    font-size: 13px;
  }

  #social_media_container{
    width: 165px;
  }
}

@media only screen and (max-width: 900px){
  .mid_image_text_container{
    width: 750px;
  }

  #main_body{
    width: 840px;
  }

  .our_story_txt{
    width: 270px;
    font-size: 14.3px;
  }

  .our_story_img{
    width: 550px;
    height: 340px;
  }

  #all_bottle_container{
    width: 840px;
  }

  .bottle_container{
    width: 90px;
  }

  .wine_name{
    font-size: 18px;
  }

  .winetype_name{
    font-size: 15px;
  }

  #map_container{
    width: 840px;
  }

  #footer{
    font-size: 13px;
  }

  .footer_option{
    width: 210px;
  }

  #footer_options_container{
    width: 840px;
  }

  .footer_headline{
    font-size: 21px;
    margin-top: 0px;
  }

  .info_cities{
    font-size: 17px;
  }

  #info_visit{
    font-size: 16px;
  }

  .info_address{
    font-size: 13px;
    width: 190px;
  }

  #social_media_container{
    width: 160px;
    margin-top: 31px;
  }
}

@media only screen and (max-width: 850px){
  #primary_mid_text{
    width: 750px;
    font-size: 36px;
  }

  #main_body{
    width: 800px;
    margin: 0px auto 40px auto;
  }

  .our_story_txt{
    width: 255px;
    font-size: 13.9px;
  }

  .our_story_img{
    width: 515px;
    height: 335px;
  }

  #all_bottle_container{
    width: 800px;
  }

  .bottle_container{
    width: 85px;
  }

  .wine_name{
    font-size: 18px;
  }

  #main_wine_container{
    width: 800px;
  }

  #map_container_main{
    width: 800px;
  }

  #footer{
    font-size: 12px;
  }

  .footer_option{
    width: 200px;
  }

  #footer_options_container{
    width: 800px;
  }

  .footer_headline{
    font-size: 20px;
    margin-top: 8px;
  }

  .info_cities{
    font-size: 16px;
  }

  #info_visit{
    font-size: 15px;
  }

  .info_address{
    font-size: 12px;
    width: 185px;
  }

  #social_media_container{
    width: 160px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 800px){
  #burger_button_container{
    display: flex;
    justify-content: flex-end;
  }

  #nav_options_container{
      width: 100%;
  }

  .nav_options{
    display: none;
  }

  #center_logo{
    width: 200px;
    margin: -45px 0px 7px 0px;
  }

  #primary_mid_text{
    width: 740px;
  }

  #main_body{
    width: 768px;
  }

  .our_story_txt{
    width: 245px;
    font-size: 13.9px;
  }

  .our_story_img{
    width: 505px;
    height: 335px;
  }

  #all_bottle_container{
    width: 768px;
  }

  .bottle_container{
    width: 80px;
  }

  .wine_name{
    font-size: 16.8px;
  }

  #main_wine_container{
    width: 768px;
  }

  #map_container_main{
    width: 768px;
  }

  #footer{
    font-size: 11px;
  }

  .footer_option{
    width: 192px;
  }

  #footer_options_container{
    width: 768px;
  }

  .footer_headline{
    font-size: 19px;
  }

  .info_cities{
    font-size: 15px;
  }

  #info_visit{
    font-size: 14px;
  }

  .info_address{
    font-size: 11px;
    width: 180px;
  }

  #social_media_container{
    width: 140px;
    margin-top: 27px;
  }

  .social_media{
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 768px){
  #landing_body_background{
    height: 824px;
  }

  #primary_mid_text{
    width: 720px;
  }

  #sec_mid_text{
    width: 100%;
    font-size: 36px;
  }

  #main_body_title{
    font-size: 35px;
    margin: 40px auto 30px auto;
  }

  #main_body{
    width: 760px;
    margin: 0px auto 40px auto;
  }

  .our_story_txt{
    width: 240px;
    font-size: 13.4px;
  }

  .our_story_img{
    width: 495px;
    height: 335px;
  }

  #all_bottle_container{
    width: 760px;
  }

  .bottle{
    width: 78px;
    height: auto;
  }

  .wine_name{
    font-size: 16px;
  }

  #main_wine_container{
    width: 760px;
  }

  #map_container_main{
    width: 760px;
  }

  #footer{
    font-size: 11px;
  }

  .footer_option{
    width: 190px;
  }

  #footer_options_container{
    width: 760px;
  }

  .footer_headline{
    font-size: 19px;
  }

  .info_cities{
    font-size: 15px;
  }

  #info_visit{
    font-size: 14px;
  }

  .info_address{
    font-size: 11px;
    width: 160px;
  }

  #social_media_container{
    width: 140px;
  }

  .social_media{
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 760px){
  #primary_mid_text{
    width: 720px;
    font-size: 32px;
  }

  #mid_image_text{
    margin-bottom: 340px;
  }

  #sec_mid_text{
    font-size: 34px;
  }

  #main_body{
    width: 720px;
    margin: 0px auto 40px auto;
  }

  .our_story_row{
    flex-direction: column;
    justify-content: space-around;
  }

  #invert_breakpoint{
    flex-direction: column-reverse;
  }

  .our_story_txt{
    width: 650px;
    font-size: 15px;
    margin: 0px auto 20px auto;
  }

  #no_center{
    margin: 0px auto 20px auto;
  }

  .our_story_img{
    width: 650px;
    height: 330px;
    margin: 0px auto;
  }

  #all_bottle_container{
    width: 100%;
    flex-wrap: wrap;
  }

  .winetype_bottle_container{
    display: flex;
    flex-direction: row;
    margin: 0 15px;
  }

  #main_wine_container{
    width: 90%;
  }

  #text_wine_container{
    width: 450px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #main_wine_name{
    font-size: 35px;
  }

  .wine_header{
    font-size: 23px;
  }

  .wine_txt{
    font-size: 15px;
  }

  #map_container_main{
    width: 720px;
  }

  #footer{
    font-size: 11px;
  }

  .footer_option{
    width: 180px;
  }

  #footer_options_container{
    width: 720px;
  }

  .footer_headline{
    font-size: 19px;
  }

  .info_cities{
    font-size: 15px;
  }

  #info_visit{
    font-size: 14px;
  }

  .info_address{
    font-size: 11px;
    width: 160px;
  }

  #social_media_container{
    width: 140px;
  }

  .social_media{
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 720px){
  #primary_mid_text{
    width: 95%;
  }

  .body_background{
    height: 85vh;
  }

  #sec_mid_image_text{
    margin-bottom: 31vh;
  }

  #main_body{
    width: 600px;
    margin: 0px auto 40px auto;
  }

  .our_story_txt{
    width: 580px;
  }

  .our_story_img{
    width: 580px;
    height: 300px;
  }

  #main_wine_name{
    font-size: 32px;
  }

  .wine_header{
    font-size: 21px;
  }

  .wine_txt{
    font-size: 15px;
  }

  #map_container_main{
    width: 90%;
  }

  #footer{
    font-size: 9px;
  }

  .footer_option{
    width: 25%;
  }

  #footer_options_container{
    width: 90%;
  }

  .footer_headline{
    font-size: 15px;
  }

  .info_cities{
    font-size: 12px;
  }

  #info_visit{
    font-size: 11px;
  }

  .info_address{
    font-size: 9px;
    width: 85%;
  }

  #social_media_container{
    width: 85%;
  }

  .social_media{
    width: 35px;
    height: 35px;
  }

  #logo_footer{
    width: 120px;
  }
}

@media only screen and (max-width: 600px){
  #landing_body_background{
    height: 100vh;
    overflow: auto;
  }

  #primary_mid_text{
    font-size: 25px;
  }

  #mid_image_text{
    margin-bottom: 40vh;
  }

  #main_body{
    width: 100%;
    margin: 0px auto 30px auto;
  }

  #main_body_title{
    font-size: 33px;
  }

  .our_story_row{
    margin-bottom: 17px;
  }

  .our_story_txt{
    width: 90%;
  }

  .our_story_img{
    width: 90%;
    height: 30vh;
  }

  #location_icon_container{
    display: flex;
    margin-top: 20px;
    justify-content: center;
  }

  .location_icon{
    width: 30px;
    height: 45px;
  }

  #adress_main{
    display: none;
  }

  #adress_link{
    display: flex;
  }

  #map_container_main{
    display: none;
  }

  #map_container_link{
    display: flex;
    width: 90%;
  }

  #info_adress_main{
    display: none;
  }

  #info_adress_link{
    display: inline;
  }

  #footer{
    font-size: 13px;
    height: inherit;
  }

  .footer_option{
    width: 80%;
    height: inherit;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  #footer_options_container{
    flex-flow: column-reverse;
  }

  #left_option{
    border: none;
    border-top: 1px solid rgba(255,15,43,1);
  }

  #center_option{
    border: none;
    border-top: 1px solid rgba(255,15,43,1);
    border-bottom: 1px solid rgba(255,15,43,1);
  }

  #right_option{
    border: none;
    border-bottom: 1px solid rgba(255,15,43,1);
  }

  .footer_headline{
    font-size: 17px;
    height: 25px;
    margin-top: 0px;
  }

  .info_cities{
    font-size: 15px;
  }

  #info_visit{
    font-size: 14px;
  }

  .info_address{
    font-size: 13px;
    width: 100%;
  }

  #social_media_container{
    width: 80%;
    margin: 10px auto;
  }

  .social_media{
    width: 45px;
    height: 45px;
  }

  #logo_footer{
    width: 100px;
    margin-top: 10px;
  }

  #vinicola_legal{
    margin-bottom: 10px;
   }
}

@media only screen and (max-width: 490px){

  #all_bottle_container{
    display: none;
  }

  #breakpoint_all_bottle_container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  #main_wine_container{
    display: none;
    margin: none;
  }

  .winetype{
    display: flex;
    flex-direction: column;
  }

  .winetype_bottle_container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bottle_container{
    flex-direction: column;
    align-items: center;
    margin: 0px 0px 30px 0px;
    width: 100%;
  }

  .bottle{
    width: auto;
    height: 210px;
    margin: 10px 0px 10px 0px;
  }

  .wine_name{
    font-family: "Raleway";
    font-size: 25px;
    color: black;
    text-align: center;
    width: 80;
    margin: 10px auto;
    line-height: 1.2;
  }

  .winetype_name{
    font-family: "Raleway";
    font-size: 30px;
    text-align: center;
    color: black;
    margin: 0px auto 25px auto;
    padding: 0px 15px;
    width: 70%;
  }

  .winetype_name::after{
    content: '';
    display: block;
    width: 100%;
    /*with: 0;*/
    height: 1px;
    background: rgba(255,15,43,1);
  }

  #text_wine_container{
    width: 90%;
    margin-left: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #main_wine_name{
    font-family: 'Poiret One', cursive;
    font-size: 38px;
    font-weight: bold;
    margin-top: -10px;
  }

  .wine_header{
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

  }

  .wine_header::after{
    content: '';
    display: block;
    width: 100%;
    padding: 0 20%;
    /*with: 0;*/
    height: 1px;
    background: rgba(43,43,43,.9);
    margin-top: -3px;
  }

  .wine_txt{
    font-family: 'Work Sans', sans-serif;
    font-size: 17px;
    font-weight: 200;
    margin: 15px 0px 10px 0px;
    line-height: 1.2;
    text-align: justify;
  }
}

@media only screen and (max-width: 320px){
  #mid_image_text{
    margin-bottom: 35vh;
  }

  .option_mini_navbar{
    font-size: 17px;
  }

  #main_body_title{
    font-size: 29px;
  }
}
