@import url('https://fonts.googleapis.com/css?family=Lato|Muli|Oxygen|Raleway|Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Hammersmith+One|Varela');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400');
.nav_options{
  font-family: "Oxygen";
  font-size: 20px;
  margin: 0px 10px;
  color: rgba(255,255,255,.9);
  margin-top: 34px;
  display: inline-block;
}

.nav_options::after{
  content: '';
  display: block;
  width: 100%;
  /*with: 0;*/
  height: 4px;
  background: rgba(255,15,43,.9);
  transition: /*width*/all .4s ease-in-out 0s;
  visibility: hidden;
  transform: scaleX(0);
}

.nav_options:hover::after{
  /*with: 100%; esto es para izq a derecha*/
  transition: /*width*/all .4s ease-in-out 0s;
  visibility: visible;
  transform: scaleX(1);
}

.nav_options:hover{
  text-shadow: 1px 1px 1px rgba(255,255,255,.1);
  color: rgba(255,255,255,1);
}

#landing_body_background{
  background-image: url("../images/wineBarrels2bis.jpg");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

#navbar{
  background-color: rgba(0,0,0,.4);
  height: 120;
  display: flex;
  justify-content: center;
}

#nav_options_container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  margin: 0px auto;
}

#center_logo{
  width: 200px;
  margin: 7px 0px;
}

#mid_image_text_container{
  font-family: "Raleway";
  font-size: 40px;
  font-weight: lighter;
  color: white;
  width: 1000px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0,0,0,.8);
}

#mid_image_text{
  margin-top: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#footer{
  height: 200px;
  /*background-color: rgba(66,76,85,.8);*/
  /*background-color: rgba(42,43,42,.9);*/
  background-color: rgba(40,40,41,1);
  border-top: 3px solid rgba(255,255,255,1);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255,255,255,.9);
  font-size: 14px;
}

#footer_options_container{
  width: 1000px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#social_media_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 35px auto 0px auto;
  width: 180px;
}

.footer_option{
  height: 160px;
  text-align: center;
  width: 250px;
}

#left_option{
  border-right: 1px solid rgba(255,15,43,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#center_option{
  border-right: 1px solid rgba(255,15,43,1);
  border-left: 1px solid rgba(255,15,43,1);
}

#right_option{
  border-left: 1px solid rgba(255,15,43,1);
}

.footer_headline{
  text-align: center;
  height: 30px;
  margin-top: -3px;
  font-size: 23px;
  font-weight: bold;
}

.info_cities{
  font-size: 18px;
  margin-top: 5px;
}

#info_visit{
  margin-top: 5px;
  font-size: 17px;
}

#info_address{
  font-size: 13px;
  width: 200px;
  margin: 10px auto 0px auto;
}

.social_media{
  width: 40px;
  height: 40px;
  /*background-color: rgba(255,255,255,1)*/;
  color: black;
  text-align: center;
  border-radius: 7px;
}

.social_media:hover{
  /*background-color: rgba(255,15,43,1);*/
  background-color: rgba(255,255,255,.6);
}

#logo_footer{
  width: 150px;
}

@media only screen and (max-width: 1000px){

  /* #footer_options_container{
    width: 504px;
    margin: 20px auto;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgba(255,15,43,1);
    border-left: 2px solid rgba(255,15,43,1);
  }*/

  #footer{
    height: auto;
    background-color: rgba(40,40,41,1);
    border-top: 3px solid rgba(255,255,255,1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255,255,255,.9);
    font-size: 14px;
  }

  .footer_option{
    height: 160px;
    text-align: center;
    width: 250px;
    margin: 15px 0px;
  }

  #nav_options_container{
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: 800px;
      margin: 0px auto;
  }

  #mid_image_text_container{
    width: 800px;
  }

}
